@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: Roboto;
    src: url('../assets/font/Roboto-Medium.ttf');
}
@font-face {
    font-family: Sheikah;
    src: url('../assets/font/Sheikah.ttf');
}
@font-face {
    font-family: Hylian;
    src: url('../assets/font/Hylian.otf');
}
@font-face {
    font-family: BotwHylian;
    src: url('../assets/font/BotwHylian.otf');
}